// sidebar
$menuText:#bfbfbf;
$menuActiveText:#FF7300;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: rgb(42, 42, 42);
$menuHover: rgb(34, 34, 34);

$subMenuBg: rgb(42, 42, 42);
$subMenuHover: rgb(34, 34, 34);

$sideBarWidth: 210px;
$headerHeight: 50px;

// common
$activeBorder: #FF7300;
$activeBg: #FF7300;
$activeText: #FF7300
